@font-face {
  font-family: "GraphikB";
  font-weight: 700;
  src: url("../../assets/fonts/Graphik-Bold-Web.woff2") format("woff2");
}
@font-face {
  font-family: "GraphikM";
  font-weight: 500;
  src: url("../../assets/fonts/Graphik-Medium-Web.woff2") format("woff2");
}
@font-face {
  font-family: "GraphikR";
  font-weight: 400;
  src: url("../../assets/fonts/Graphik-Regular-Web.woff2") format("woff2");
}
h1, h2 {
  font-family: GraphikB;
}

h3, h4 {
  font-family: GraphikM;
}

.p_lead, .p_18, p._16, .p_14 {
  font-family: GraphikR;
}

h1 {
  font-size: 48px;
  line-height: 56px;
}
@media (max-width: 735px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
  }
}
h1--mobile {
  font-size: 32px;
  line-height: 40px;
}
h1--desktop {
  font-size: 48px;
  line-height: 56px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
}
@media (max-width: 735px) {
  h2 {
    font-size: 28px;
    line-height: 36px;
  }
}
h2--mobile {
  font-size: 28px;
  line-height: 36px;
}
h2--desktop {
  font-size: 32px;
  line-height: 40px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}
@media (max-width: 735px) {
  h3 {
    font-size: 20px;
    line-height: 28px;
  }
}
h3--mobile {
  font-size: 20px;
  line-height: 28px;
}
h3--desktop {
  font-size: 24px;
  line-height: 32px;
}

h4 {
  font-size: 18px;
  line-height: 28px;
}

.p_lead {
  font-size: 24px;
  line-height: 32px;
}
@media (max-width: 735px) {
  .p_lead {
    font-size: 20px;
    line-height: 28px;
  }
}
.p_lead--mobile {
  font-size: 20px;
  line-height: 28px;
}
.p_lead--desktop {
  font-size: 24px;
  line-height: 32px;
}

.p_18 {
  font-size: 18px;
  line-height: 28px;
}

.p_16 {
  font-size: 16px;
  line-height: 24px;
}

.p_14 {
  font-size: 14px;
  line-height: 20px;
}

/*Colors*/
.header {
  margin-top: 32px;
}
.header__wrapper {
  position: relative;
}
.header__logo {
  width: 40px;
  height: 40px;
  position: relative;
}
.header__logo img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.header__logo::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  content: "";
  display: block;
  background-color: #FF3A62;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.header__text {
  position: absolute;
  top: 0;
  left: 64px;
}
.header__text span {
  font-weight: bold;
}
.header__text p {
  margin: 0;
  color: #7D7D7D;
}

.burger {
  grid-column: span 1/-1;
  align-self: center;
  padding: 0;
  display: block;
  position: relative;
  width: 32px;
  height: 10px;
  border: none;
  justify-self: end;
  cursor: pointer;
  background-color: transparent;
}
.burger-line {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background-color: #181818;
}
.burger::after {
  content: "";
  position: absolute;
  right: 0;
  width: 75%;
  height: 2px;
  background-color: #181818;
}

.main {
  margin-top: 48px;
  grid-column: 4/-1;
}
.main__title {
  margin-top: 0;
  margin-bottom: 16px;
}
.main__subtitle {
  margin: 0;
}

.aside {
  grid-column: 1/span 2;
  align-self: start;
  position: sticky;
  margin-top: 64px;
  top: 64px;
}
.aside__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  transition: color 0.3s linear;
}
.aside__item {
  color: #7D7D7D;
}
.aside__item:not(:last-child) {
  margin-bottom: 16px;
}
.aside__item:hover {
  color: #1B1B1B;
}
.aside__item--active {
  color: #3E29E3;
}

.intro {
  grid-column: 4/-1;
}
.intro__text {
  margin-top: 32px;
  margin-bottom: 0;
  grid-column: 1/span 6;
}

.grid {
  margin-top: 80px;
}
.grid__title {
  margin-top: 0;
  margin-bottom: 24px;
  grid-column: 1/-1;
}
.grid__text {
  margin-top: 0;
  margin-bottom: 48px;
  grid-column: 1/span 6;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: #1B1B1B;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper {
  margin: 0 auto;
  min-width: 1072px;
  max-width: 1312px;
  display: grid;
  grid-template-columns: repeat(12, minmax(60px, 80px));
  grid-gap: 32px;
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: repeat(9, minmax(60px, 80px));
  grid-gap: 32px;
}/*# sourceMappingURL=style.css.map */